.info-grid {
	width: 60%;
	display: grid;
	grid-template-columns: auto auto auto;
}

div.dice{
	float:left;
	width:32px;
	background:#F5F5F5;
	border:rgb(255, 0, 242) 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}